@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

html{
    scroll-behavior: smooth;
    font-size: 16px;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    font-size: 16px;
}

.header{
    font-family: 'Varela Round', sans-serif;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color:#D93425;
    height: auto;
    width: 100%;
}

.wave{
    margin: 0;
    padding: 0;
    width: 100%;
}

/*Imagen del header*/
.rocket{
    width: 80%;
    height: auto;
    margin: auto;
}

/*Título del header*/
h1{
    font-size: 2.5rem;
    color: white;
}

/*Descripción del header*/
.info, .info > a{
    text-align: justify;
    font-size: 1.9rem;
    color: white;
}

.text{
    width: 90%;
    height: auto;
    margin: auto;
}


/*Boton consulta*/
#btn{
    color: white;
    background-color: #181E40;
    border: none;
    border-radius: 4px;
    font-family: 'Lora', serif;
}

/*Contenedor relacionado a APOD*/
.content-apod{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: auto 5%;
    padding-top: 40px;
}

/*Titulo APOD*/
.title{
    text-align: center;
    font-size: 2.5rem;
}

/*Descripción APOD*/
.explanation{
    text-align: justify;
    font-size: 1.5rem;
}

/*Contenerdor de titulo y fecha APOD*/
.title-date{
    background-color: #021226;
    border-radius: 4px;
    color: white;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*Fecha de APOD*/
.date-info{
    text-align: center;
    font-size: 1.25rem;
}

/*Imagen de APOD*/
.media-img {
    grid-column: 1/-1;
    margin:  80px auto;
    width: 85%;
    height: auto;
    border-radius: 4px;
}

/*Vídeo APOD*/
.media-video{
    grid-column: 1/-1;
    margin: 20px auto;
    width: 90%;
    height: auto;
}

/*Contenedor para la consulta de fecha*/
.calendar{
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-direction: column;
    height: auto;
    margin-bottom: 20px;
}

label{
    font-size: 1.4rem;
}

#date{
    font-size: 1.2rem;
    text-align: center;
}

#btn{
    margin-top: 5px;
    font-size: 1.2rem;
    height: 60px;
}

#btn:hover{
    cursor: pointer;
}

.footer-content{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    background-color: #021226;
    color: #D0D0D0 ;
    font-size: 1.1rem;
}

.github{
    width: 55px;
    height: 55px;
}

@media only screen and (max-width: 600px) {
    html{
        font-size: 11px;
    }
    
    .text{
        height: auto;
        grid-column: 1/-1;
    }

    h1{
        text-align: center;
    }

    .rocket{
        grid-column: 1/-1;
        width: 70%;
    }

    .title-date, .explanation{
        grid-column: 1/-1;
        margin: 1rem auto;
        width: 95%;
    }

    .media-img, .media-video{
        margin: 2rem auto;
    }

    label{
        text-align: center;
    }

    #date, #btn{
        width: 60%;
    }

    .github{
        width: auto;
        height: auto;
    }
    
}

@media only screen and (min-width: 601px) {
    html{
        font-size: 12px;
    }
    
    .text{
        grid-column: 1/-1;
        height: auto;
    }

    h1{
        text-align: center;
    }

    .rocket{
        grid-column: 1/-1;
        width: 60%;
    }

    .title-date, .explanation{
        grid-column: 1/-1;
        margin: 1rem auto;
        width: 95%;
    }

    #date, #btn{
        width: 45%;
    }

    .media-video{
        height: 450px;
    }

}

 
@media only screen and (min-width: 768px){
    .media-video{
        height: 500px;
    }

    #date, #btn{
        height: 60px;
    }
}

 
@media only screen and (min-width: 992px) {
    html{
        font-size: 17px;
    }

    .text{
        grid-column: span 1;
    }

    .rocket{
        width: 90%;
        grid-column: span 1;
    }

    .title-date, .explanation{
        grid-column: span 1;
    }
    .media-img{
        height: 750px
    }

    .media-video{
        height: 650px;
    }

    #btn{
        height: 80px;
    }
}


@media only screen and (min-width: 1200px) {
    html{
        font-size: 17px;
    }

    h1{
        text-align: justify;
    }

    .rocket{
        width: 80%;
    }

    #date, #btn{
        width: 25%;
    }
    
    #btn{
        height: 80px;
    }
}