@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

html{
    scroll-behavior: smooth;
    font-size: 16px;
}

body{
    margin: 0;
    padding: 0;
}

.header{
    font-family: 'Roboto Mono', monospace;
    background-color: #FF5330;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wave{
    margin: 0 0 5rem;
    padding: 0;
    width: 100%;
}

/*Contenedor para las letras y la imagen del header*/
.container-header{
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}

/*Letras para la palabra APOD del header*/
.letter{
    margin: auto;
    font-size: 7rem;
    color: #093F68;   
}

/*Imagen del header*/
.rocket{
    width: 30%;
}

/*Título del header*/
h1{
    margin: 10% auto 2rem;
    text-align: center;
    font-weight: bolder;
    font-size: 2.5rem;
    color: #093F68;
}

main,#btn{
    font-family: 'Roboto Slab', serif;
}

/*Boton consulta*/
#btn{
    color: white;
    font-weight: bold;
    background-color: #181E40;
    border: none;
    border-radius: 4px;
}

/*Contenedor relacionado a APOD*/
.content-apod{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: auto 5%;
}

/*Titulo APOD*/
.title{
    font-weight: 700;
    text-align: center;
    font-size: 2.5rem;
}

/*Descripción APOD*/
.explanation{
    text-align: justify;
    font-size: 1.5rem;
}

/*Contenerdor de titulo y fecha APOD*/
.title-date{
    opacity: 0;
    transform: translate(-10vh, 0vh);
    transition: all 1s;
    padding: 10px;
    background-color: #021226;
    border-radius: 4px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*Fecha de APOD*/
.date-info{
    text-align: center;
    font-size: 1.25rem;
}

/*Imagen de APOD*/
.media-img {
    grid-column: 1/-1;
    margin:  80px auto;
    width: 70%;
    height: auto;
    border-radius: 4px;
}

/*Vídeo APOD*/
.media-video{
    grid-column: 1/-1;
    margin: 20px auto;
    width: 75%;
    height: auto;
}

/*Contenedor para la consulta de fecha*/
.calendar{
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-direction: column;
    height: auto;
    margin-bottom: 3rem;
}


label{
    font-size: 1.4rem;
}

/*input de tipo date*/
#date{
    font-size: 1.2rem;
    text-align: center;
}

#btn{
    margin-top: 5px;
    font-size: 1.5rem;
    height: 60px;
}

#btn:hover{
    cursor: pointer;
}

footer{
    color: white;
    background-color: #261902;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    margin: 2rem auto 0;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-size: 1.1rem;
}

.visible {
    opacity: 1;
    transform: translate(0, 0);
  }


/**MEDIA QUERYS***/
@media only screen and (max-width: 600px) {
    html{
        font-size: 11px;
    }

    .header{
        height: 60vh;
    }

    .letter{
        font-size: 5rem;
    }

    .title-date, .explanation{
        grid-column: 1/-1;
        margin: 1rem auto;
        width: 95%;
    }

    .media-img, .media-video{
        width: 90%;
        margin: 2rem auto;
    }

    label{
        text-align: center;
    }

    #date, #btn{
        width: 60%;
    }
}

@media only screen and (min-width: 601px) {
    html{
        font-size: 12px;
    }

    .title-date, .explanation{
        grid-column: 1/-1;
        margin: 1rem auto;
        width: 95%;
    }

    #date, #btn{
        width: 45%;
    }

    .media-video{
        height: 450px;
    }

}
 
@media only screen and (min-width: 768px){
    html{
        font-size: 16px;
    }

    .media-video{
        height: 500px;
    }

    #date, #btn{
        height: 60px;
    }
}

 
@media only screen and (min-width: 992px) {
    html{
        font-size: 18px;
    }

    .title-date, .explanation{
        grid-column: span 1;
    }
    .media-img{
        height: 750px
    }

    .media-video{
        height: 650px;
    }

    #btn{
        height: 80px;
    }
}

@media only screen and (min-width: 1200px) {
    #date, #btn{
        width: 25%;
    }
    
    #btn{
        height: 80px;
    }
}